#headerContainer {
  /* outline: 1px solid black; */
  /* width: 18vw; */
  display: flex;
  gap: 10px;
  /* justify-content: space-between; */
  /* position: absolute; */

  right: 0;
  margin-right: 1vw;
  margin-top: 3vh;
  position: fixed;
}

#about,
#projects,
#experience,
#journey {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1rem;
}

#about:hover,
#projects:hover,
#experience:hover,
#journey:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}

#about {
  border-bottom: 1px solid black;
}

.title {
  font-family: "Courier New", Courier, monospace;
  margin-left: 2vw;
  padding-top: 10vh;
  font-size: 4em;
}

.subheading {
  font-family: "Courier New", Courier, monospace;
  margin-left: 2vw;
  margin-top: -4vh;
}
